<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>provServlet</servlet-name>
    <servlet-class>com.ffrevol.gui.server.ProvServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>provServlet</servlet-name>
    <url-pattern>/provisioning_module/provisioning</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>provisioning_module.html</welcome-file>
  </welcome-file-list>

</web-app>
